/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
html {

}

body {
	
	background: url("https://pbs.twimg.com/profile_images/633856419490480128/58pBUIoE_400x400.png");
	background-color: #fE6E6DC !important;
	
}


h1 {
    text-align: center;
	font: 40px Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color: black; 

}

.menubar{
	
	position:relative;
	
	
}
nav{
line-height: 20px;
	background-color: #eeeeee;
	min-height: 400px; 
	width: 100px;
	float: left;
	padding: 5px;	
	
}


.cardbox {
	
	border-radius: 25px;
    background: #73AD21;
    padding: 50px; 
    width: 400px;
    height: 400px; 
	background-color: #00628B;
	
	

}

 .usernameTextBox, .passbox {
    border: 1px solid #848484; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    outline:0; 
    height:25px; 
    width: 275px; 
    padding-left:10px; 
    padding-right:10px; 
    
}



.logonbutton {
	margin: 20px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}


  
.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
